section(class="section")
    div(class='wrapper')
        h2(class='title') Наши поставщики
        div(class='provider')
            div(class='row provider__row provider__row--top')
                img(src=require('../images/q1.png') class='provider__img-1--full' )
                img(src=require('../images/q2.png') class='provider__img-2--full' )
                img(src=require('../images/q3.png') class='provider__img-3--full' )
            div(class='row provider__row')
                img(src=require('../images/q4.png') class='provider__img' )
                img(src=require('../images/q5.png') class='provider__img' )
                img(src=require('../images/q6.png') class='provider__img' )
                img(src=require('../images/q7.png') class='provider__img' )
                img(src=require('../images/q8.png') class='provider__img' )
                img(src=require('../images/q9.png') class='provider__img' )
                img(src=require('../images/q10.png') class='provider__img' )
            