section(class="section")
    div(class='wrapper')
        h2(class='title') сертификаты

        div(class='certificate')
            div(class='certificate__item')
                div(class='overlay')
                    span(class='certificate__item-icon')
                        img(class='certificate__item-icon--loupe' src=require('../images/loupe.png'), alt="")
                    img(class='certificate__item-img' src=require('../images/La1.png'), alt="")
                    
            div(class='certificate__item')
                div(class='overlay')
                    span(class='certificate__item-icon')
                        img(class='certificate__item-icon--loupe' src=require('../images/loupe.png'), alt="")
                    img(class='certificate__item-img' src=require('../images/La1.png'), alt="")
            
            div(class='certificate__item')
                div(class='overlay')
                    span(class='certificate__item-icon')
                        img(class='certificate__item-icon--loupe' src=require('../images/loupe.png'), alt="")
                    img(class='certificate__item-img' src=require('../images/La1.png'), alt="")
            div(class='certificate__item')
                div(class='overlay')
                    span(class='certificate__item-icon')
                        img(class='certificate__item-icon--loupe' src=require('../images/loupe.png'), alt="")
                    img(class='certificate__item-img' src=require('../images/La1.png'), alt="")